.dropdown:hover .dropdown-menu {
    display: block;
    /* margin-top: 0; */
}

.btn-outline-success {
    color: chocolate;
    border-color: chocolate;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: chocolate;
    border-color: chocolate;
}

.btn-outline-success:visited {
    color: #fff;
    background-color: chocolate!important;
    border-color: chocolate!important;
}

.btn-outline-success:active {
    color: #fff;
    background-color: chocolate!important;
    border-color: chocolate!important;
}

.container {
    width: 100px;
}
